*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --background--color--light: #ECECEC;
    --background--color--dark: #000000;
    --color--text--light: #333533;
    --color--text--second: #6c757d;
    --color--text--dark: #202020;
    --color--text--register: #eb5e28;
    --color--button--light: #eb5e28;
    --color--button--dark: #dc2f02;
    --color--text--button: #ffffff;
    -color-delete: #EB3B35;
    --color--second: #ff0a54;
}

body, html{
    width: 100%;
    height: 100%;
    background-color: var(-background--color--light);
    font-size: 93,75%;
    font-family: 'Roboto', sans-serif;
    min-height: 4000px;
    /* overflow-y: hidden; */
}

/* .container{
    background-image: url(../assets/background__menu.jpg);
    background-repeat: no-repeat;
    height: 665px;
    background-position-y: -75px;
    background-position-x: 90px;
    display: flex;
} */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 80px;
    z-index: 10;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
    color: var(--color--text--button);
}

.logo span{
    color: var(--color--button--dark);
}

.logo i{
    color: var(--color--text--button);
    margin-left: 0.1rem;
    font-size: 1rem;
}

.menu__principal ul{
    display: flex;
    
}

.menu__principal li{
    padding: 0 1rem;
    
}

.menu__principal li .inicio{
    color: var(--color--text--register);
}

.menu__principal li a{
    color: var(--color--text--button);
    font-weight: bold;
}

.menu__principal li a:hover{
    color: var(--color--text--register);
}

.register__pet{
    background-color: violet;
    height: 40px;
}

#register__pet a{
    font-weight: 600;
    /* color: var(--color--text--register); */
    text-transform: uppercase;
    padding: 10px;
    border: 1px solid var(--color--text--button);
    border-radius: 50px 50px 0px 50px;
}

#register__pet a:hover{
    background-color: var(--color--text--register);
    color: var(--color--text--button);

}

.stick{
    background: var( --color--text--button);
    transition: 0.7s;
    box-shadow: 3px 5px 15px -9px #0000;
    /* opacity: 0.8; */
    -webkit-box-shadow: 4px 7px 15px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 7px 15px 0px rgba(0,0,0,0.75);
box-shadow: 4px 7px 15px 0px rgba(0,0,0,0.75);
}

.stick nav a{
    color: var(--color--text--dark);
}

.stick .logo{
    color: var(--color--text--dark);
}

.stick i{
    color: var(--color--text--dark);
}

.stick #register__pet a{
    color: var(--color--text--register);
    border: 1px solid var(--color--text--register);
}

.stick #register__pet a:hover{
    color: var(--color--text--button);

}
/* .stick #register__pet a{
    color: #fff;
} */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image:url(../assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 720px;
}

.menu__banner{
    padding: 4rem 2rem;
    /* margin-top: 5rem; */
    width: 40%;
    height: 500px;
}

.photo{
    width: 100%;
}

.photo img{
    width: 100%; 
}

.menu__banner h1{
    letter-spacing: 0.2rem;
    color: var(--color--text--button);
    font-family: 'Coda Caption', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}

.menu__banner span{
    color: var(--color--second);
    /* font-size: 3rem; */
}

.information{
    margin: 1rem 0;
    color: var(--color--text--button);
}

.adopt{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 1rem;
}

.adopt .adopt__pet{
    height: 40px;
    padding: 1.5rem;
    background-color: var(--color--text--register);
    color: var(--color--text--button);
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border-radius: 50px 50px 0px 50px;
    border: 1px solid;
    font-family: 'Coda Caption', sans-serif;
    transition: 0.5s;
    -webkit-box-shadow: 4px 7px 15px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 7px 15px 0px rgba(0,0,0,0.75);
box-shadow: 4px 7px 15px 0px rgba(0,0,0,0.75);
}

.adopt .adopt__pet:hover{
    background-color: transparent;
    border: 1px solid var(--color--text--register);
}

.adopt span a{
    color: var(--color--text--button);
}

.adopt span a:hover{
    color: var(--color--second);
}

.content{
    padding: 3rem 2rem;
}

.content__petz{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}

.container__petz{
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.information__petz{
    width: 40%;
}


.container__petz img{
    border-radius: 260px 0 0 260px;
    
}

.content__petz h2{
    font-size: 2rem;
}

.information__petz p{
    margin: 1rem 0;
}