<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../public/styles/main.css">
    <title>Pet Love</title>
</head>
<body>
    <div class="container">

        <header class="header">
            <img src="#" alt="logo pet love">
    
            <nav class="menu__principal">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Quem somos</a></li>
                    <li><a href="#">contato</a></li>
                    <li id="register__pet"><a href="#">cadastrar</a></li>
                    <!-- <li id="adopt__pet"><a href="#">adotar</a></li> -->
                </ul>
                
            </nav>
    
        </header>
    
        <main>
            <section class="banner">
                <div class="menu__banner">
                    <h1>Adote um Pet</h1>
                    <p class="information">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum modi nesciunt et architecto excepturi dolor hic assumenda doloribus. Natus perferendis aut totam eligendi temporibus delectus rerum ullam tempore aperiam quasi!</p>
    
                    <div class="adopt">
                        <a href="#" class="adopt__pet">Adote um Pet</a>
                        <span> <a href="#">Saiba mais</a></span>
                    </div>
                </div>
    
    
    
            </section>
            <section>
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium vitae eaque sint iusto dolore at dignissimos illo molestias, expedita quae accusamus fugit omnis provident in nemo sed soluta praesentium inventore.</p> -->
            </section>
            <section></section>
        </main>
    </div>
    

    <footer></footer>
</body>
</html>