<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="../public/styles/main.css">
    <title>PETZZ</title>
</head>
<body>
    <main class="container">

        <header class="header">
            <a href="#" class="logo">PET <span>ZZ <i class="fas fa-paw"></i></span></a>
    
            <nav class="menu__principal">
                <ul>
                    <li><a href="#" class="inicio">Inicio</a></li>
                    <li><a href="#">Quem somos</a></li>
                    <li><a href="#">contato</a></li>
                    <li><a href="#">adotar</a></li>
                    <li id="register__pet"><a href="../view/register.html">cadastrar</a></li>
                    <!-- <li id="adopt__pet"><a href="#">adotar</a></li> -->
                </ul>
                
            </nav>
    
        </header>
        <section class="banner">
            <div class="menu__banner">
                <h1>Adote um amigo, adote um pet <span>.</span></h1>
                <p class="information">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum modi nesciunt et architecto excepturi dolor hic assumenda doloribus. Natus perferendis aut totam eligendi temporibus delectus rerum ullam tempore aperiam quasi!</p>

                <div class="adopt">
                    <a href="#" class="adopt__pet">Adote um Pet</a>
                    <span> <a href="#">Saiba mais</a></span>
                </div>
            </div>
        </section>

        <section class="content petz">
            <div class="content__petz">
                <h2 class="tittle">Nossos PETZZ</h2>
                <span>eligendi temporibus delectus</span>
                <div class="container__petz">
                    <div class="information__petz">
                        <h3>Informações do pet</h3>
                        <span>totam eligendi</span>
                        
                        <p>
                            <span>
                                Prazer, menu nome é 
                                <span class="name">Bola de neve</span>
                            </span>
                        </p>
                        
                        <p>
                            <span>
                                A minha idade é de
                                <span class="age">
                                   Sete Anos
                                </span>
                            </span>
                        </p>

                        <p>
                            <span>
                                Eu sou
                                <span class="age">
                                   de pequeno porte
                                </span>
                            </span>
                        </p>

                        <p>
                            <span>
                                Oi turma, tudo bem?
                                <span class="info">
                                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic a necessitatibus excepturi. Hic ut exercitationem possimus maxime doloribus at magnam, sequi totam consectetur natus tenetur ipsa quis deleniti quasi quaerat.
                                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic a necessitatibus excepturi. Hic ut exercitationem possimus maxime doloribus at magnam, sequi totam consectetur natus tenetur ipsa quis deleniti quasi quaerat.
                                </span>
                            </span>
                        </p>
                    </div>

                    <img src="../public/assets/information__banner.jpg" alt="">
                </div>
            </div>
        </section>
    </main>

    <footer></footer>

    <script src="https://kit.fontawesome.com/392610c469.js" crossorigin="anonymous"></script>
    <script src="../public/script/index.js"></script>
</body>
</html>